<h1>Dashboard</h1>
<h2>Hello {{name}} </h2>
<section class="section">

{{#if stories}}
  <table class="striped">
    <thead>
      <tr>

      <th>Title</th>
      <th>Date</th>
      <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td><a href="/stories/{{_id}}"> {{Title}}</a></td>
          <td>{{createdAt}}</td>
          <td><span class="dash-status">{{status}}</span></td>
        </tr>
      {{/each }}
    </tbody>
  </table>
{{else}}
  <p class="align-center">no stories found</p>
{{/if}}

</section>